@model com.mvc.sgt.Models.TurnoFacturacionModel

<md-dialog aria-label="Turnos" class="w-50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools  badge-warning">
                <h5 class="modal-title">Facturación</h5>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content form-group">

                <div class="form-row">
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Nombre)</span>
                        <span class="form-control"> @Html.DisplayFor(model => model.Nombre)</span>
                    </div>
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Apellido)
                        </span>
                        <span class="form-control">@Html.DisplayFor(model => model.Apellido)</span>
                    </div>
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">
                            Dni
                        </span>
                        <span class="form-control">@Html.DisplayFor(model => model.DocumentoNumero)&nbsp</span>
                    </div>
                </div>

                <div class="form-row mt-2">
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Direccion)</span>
                        <span class="form-control"> @Html.DisplayFor(model => model.Direccion)&nbsp</span>
                    </div>
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">
                            C.P.
                        </span>
                        <span class="form-control">@Html.DisplayFor(model => model.CodigoPostal)&nbsp</span>
                    </div>
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Cuit)
                        </span>
                        <span class="form-control">@Html.DisplayFor(model => model.Cuit)&nbsp</span>
                    </div>
                </div>

                <div class="form-row mt-2">
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Aseguradora)</span>
                        <span class="form-control"> @Html.DisplayFor(model => model.Aseguradora)&nbsp</span>
                    </div>
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">
                            Plan
                        </span>
                        <span class="form-control">@Html.DisplayFor(model => model.AseguradoraPlan)&nbsp</span>
                    </div>
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">
                            Afiliado
                        </span>
                        <span class="form-control">@Html.DisplayFor(model => model.NumeroAfiliado)&nbsp</span>
                    </div>
                </div>

                <div class="form-row mt-2">
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">Código</span>
                        <span class="form-control"> @Html.DisplayFor(model => model.CodigoPractica)&nbsp</span>
                    </div>
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Diagnostico)
                        </span>
                        <span class="form-control">@Html.DisplayFor(model => model.Diagnostico)&nbsp</span>
                    </div>
                    <div class="form-group col-sm-4">
                        <span class="font-weight-bold">
                            Nro Sesiones
                        </span>
                        <span class="form-control">@ViewBag.nroSesiones</span>
                    </div>
                </div>

                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Numero</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sesion in Model.Sesions)
                        {
                            <tr>
                                <th scope="row">
                                    @Html.DisplayFor(modelSesion => sesion.Numero)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelSesion => sesion.FechaHora)
                                </td>
                                <td>
                                    @switch (sesion.Estado)
                                    {
                                        case 1:
                                            <span>Reservado</span>
                                            break;
                                        case 2:
                                            <span>
                                                Confirmado
                                            </span>
                                            break;
                                        case 4:
                                            <span>Atendido</span>
                                            break;
                                        case 5:
                                            <span>No Asistio</span>
                                            break;
                                        case 8:
                                            <span>Sin fecha libre</span>
                                            break;                                        
                                    }                                    
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type='button' class='md-raised md-warn' ng-click='cancel()'><i class='icon-cancel'></i> Salir</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

