@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular-core")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
</head>
<body ng-app="sgtApp">
    <header ng-controller="navbarController as nvCtr">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top fixed-index p-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" ng-class="{active: nvCtr.activeLink=='turnos'}">
                        <a class="navbar-brand" href="#" ng-click="nvCtr.changeLink('turnos');">
                            <img src="~/Content/img/logo_calendar.png"
                                 class="d-inline-block align-middle img p-0"
                                 style="box-shadow: none; height:60px; " alt="" />
                        </a>
                    </li>

                    <li class="nav-item p-3" ng-class="{active: nvCtr.activeLink=='turnos'}">
                        <a class="nav-link" href="#!Turnos" ng-click="nvCtr.changeLink('turnos');">
                            Turnos
                        </a>
                    </li>
                    <li class="nav-item p-3" ng-class="{active: nvCtr.activeLink=='pacientes'}">
                        <a class="nav-link" href="#!Pacientes" ng-click="nvCtr.changeLink('pacientes')">Pacientes</a>

                    </li>
                    <li class="nav-item dropdown p-3" ng-class="{active: nvCtr.activeLink=='configuracion'}">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Configuración
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#!Aseguradoras" ng-click="nvCtr.changeLink('configuracion')">Aseguradoras</a>
                            <a class="dropdown-item" href="#!Consultorios" ng-click="nvCtr.changeLink('configuracion')">Consultorios</a>
                            <a class="dropdown-item" href="#!Profesionales" ng-click="nvCtr.changeLink('configuracion')">Profesionales</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#!Agenda" ng-click="nvCtr.changeLink('configuracion')">Agenda</a>
                        </div>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <li class="nav-item p-3"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log out</a></li>
                        }
                    }
                    else
                    {
                        <li class="nav-item p-3">
                            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
                        </li>
                    }
                </ul>



            </div>
            @if (Request.IsAuthenticated)
            {
                <search-paciente view-enabled="true" add-enabled="true" />

            }
        </nav>
    </header>    
    <div class="notification-bar">
        @if (Request.IsAuthenticated)
        {
            <turnos-sin-fecha></turnos-sin-fecha>
            <pacientes-anuales></pacientes-anuales>

        }
    </div>
    <main class="container-fluid body-content mt-4 pt-4" id="main">
        @RenderBody()
    </main>
    @*<hr />*@


    <footer class="container-fluid body-content mt-1 pt-3 border-top">
        <p class="text-center p-0 m-0">&copy; @DateTime.Now.Year - Gestión de Turnos</p>      
    </footer>
</body>
</html>